<!DOCTYPE html>
<html>
<head>
  <title>DraggingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <script src="https://fb.me/react-dom-0.14.3.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
